* {
	box-sizing: border-box;
}

html, body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.noSelect {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.algae {
	width: 100%;
	height: 100%;
}

.pageHeader {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid black;
	font-family: serif;
	background: rgb(240, 240, 240);
}

.pageHeader div {
	display: inline-block;
}

.pageHeader .title {
	color: rgb(255, 50, 50);
	font-size: 32pt;
	margin-right: 36px;
	margin-left: 24px;
}

.pageHeader .navItem {
	font-size: 24pt;
	margin-right: 16pt;
}

.pageHeader .navItem:hover {
	cursor: pointer;
	border-bottom: 2px dotted gray;
}

.pageHeader .navItem.selected {
	border-bottom: 2px solid rgb(255, 50, 50);
}

.content {
	height: calc(100% - 60px);
	font-family: sans-serif;
}

.content .simpleContent {
	padding-left: 24px;
	padding-top: 12px;
	font-size: 18pt;
}

.content .paddedPage {
	padding: 12px;
	padding-left: 24px;
}

.paddedPage p {
	max-width: 40%;
}

.content h1, .content h5 {
	margin: 0px;
}

.content h5 {
	color: rgb(50,50,50);
	font-size: 12pt;
}

.content textarea {
	width: 600px;
	height: 300px;
}

.sidebar h5 {
	font-size: 10pt;
	margin-bottom: 6px;
}

.sidebar .section {
	padding: 8px;
	border-bottom: 1px solid black;
}

.assignPicker {
	word-wrap: break-word;
	font-size: 10pt;
}

.evaluatePage {
	width: 100%;
	height: 100%;
}

.evaluatePage .left {
	width: 200px;
	height: 100%;
	border-right: 1px solid black;
}

.evaluatePage .right {
	width: calc(100% - 200px);
	height: calc(100% - 60px);
	position: absolute;
	left: 200px;
	top: 60px;
}

.sidebar select {
	width: 100%;
}

.clusterPicker, .studentPicker {
	font-size: 8pt;
}

.clusterPicker button, .ratings button {
	width: 50%;
	text-align: center;
}

.ratings .cheating.selected {
	color: green;
}

.ratings .falsePos.selected {
	color: red;
}

.codeColumn {
	width: 50%;
	border-right: 1px solid black;
	display: inline-block;
	position: relative;
	height: 100%;
}

.codeColumn.wide {
	width: 100%;
}

.codeColumn .header {
	padding: 6px;
	font-size: 12pt;
	border-bottom: 1px solid black;
	font-weight: bold;
	color: rgb(50,50,50);
	height: 30px;
}

.codeColumn .codeText {
	height: calc(100% - 30px);
	overflow: auto;
}

.code {
	background-color: white;
	word-wrap: break-word;
	border: none;
}

.exportSave button {
	width: 100%;
}
